body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.drawer {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: 100%;
    background-color: #004A8F;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
    opacity: 0.85;
}

.drawer a {
    color: white;
    text-decoration: none;
}

.drawer a:hover {
    text-decoration: underline;
}

.drawer ul {
    list-style-type: none;
    padding: 0;
    color: white;
    text-decoration: none;
}

.drawer li {
    margin: 15px 0;
    color: white;
    text-decoration: none;
}

.drawer:hover{
    opacity: 1.0;
}

.drawer.open {
    left: 0; /* Show the drawer */
}

.drawer-content {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.main-content {
    padding: 20px;
    color:#004A8F;

}

.hamburger {
    position: fixed; /* Fixa o botão na tela */
    top: 05px; /* Alinha o botão no topo */
    left: 20px; /* Posiciona o botão no lado esquerdo */
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color:#004A8F;
}
